<h1>About Spotify</h1>
<h3>Version: 1.0</h3>
<p>
  Spotify (/ˈspɒtɪfaɪ/) is a Swedish audio streaming platform that provides
  DRM-protected music and podcasts from record labels and media companies. As a
  freemium service, basic features are free with advertisements or automatic
  music videos, while additional features, such as improved streaming quality,
  are offered via paid subscriptions. Launched by Spotify AB on 7 October 2008,
  Spotify provides access to over forty million tracks. Users can browse by
  parameters such as artist, album, or genre, and can create, edit, and share
  playlists. Spotify is available in most of Europe and the Americas, Australia,
  New Zealand, and parts of Africa and Asia, and on most modern devices,
  including Windows, macOS, and Linux computers, and iOS, Windows Phone, and
  Android smartphones and tablets.
</p>
